.footer__container {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 24px;
}
@media screen and (max-width: 607px) {
    .footer__container {
        display: block;
    }
}
@media screen and (max-width: 425px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-bottom: 0;
    }
}