.cover__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1184px;
    min-height: 740px;
    position: relative;
    color: #FFFFFF;
    max-width: 1184px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.3)
     ),
     url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    text-align: center;


}

.cover__container:hover {
    background-image: linear-gradient(
     rgba(0, 0, 0, 0.8), 
     rgba(0, 0, 0, 0.8)
  ),
    url(../../../images/cover-trains.jpg);
}

@media screen and (max-width: 1024px) {
    .cover__container {
        max-width: 1024px;
        min-height: 640px;
}
}

@media screen and (max-width: 768px) {
    .cover__container {
    max-width: 768px;
    min-height: 480px;
}
}
@media screen and (max-width: 425px) {
    .cover__container {
        max-width: 320px;
        min-height: 200px;
}
}