.cover {
    color: #ffffff;
    margin-bottom: 92px;
}
@media all and (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
}
}
@media all and (max-width: 425px) {
    .cover {
        margin-bottom: 64px;
}
}