.cover {
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
}

@media all and (max-width: 1024px) {
    .cover {
        margin: 0;
        margin-bottom: 92px;
}
}
@media all and (max-width: 768px) {
    .cover {
        margin-bottom: 88px;
}
}
@media all and (max-width: 425px) {
    .cover {
        margin-bottom: 64px;
}
}