.lead__caption {
    color: #ffffff;
    margin: 8px 0 0;
    align-self: flex-start;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.15em;
    line-height: 1.1;
}

@media all and (max-width: 768px) {

    .lead__caption {
        margin-left: 24px;
    }
}
