.intro__title {
    font-size: 54px;
    color: #ffffff;
    line-height: 1.1;
    font-weight: 900;
    margin: 0;
}

@media all and (max-width: 425px) {
    .intro__title {
        font-size: 32px;
    }
}